<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	
	  <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

	  <!-- Css Administor-->
	  <link rel="stylesheet" href="styles/css/login.css" type="text/css" >	
		
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body style="background-color:#263238;">
	  <nav>
	    <div class="nav-wrapper blue-grey darken-2">
	      <a href="#" class="brand-logo">Administor</a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	        <li><a href="/cadastro">LOGIN | CADASTRO</a></li>
	      </ul>
	    </div>
  		</nav>
  		
  		<!-- Bloco de Form de Login -->
  	   <div class="row container grey lighten-5" id="bloco" >
	     
	      <div class="col s6" id="login">
	      	<a class="waves-effect waves-light btn">LOGIN</a>
	      	
	      	<div th:if="${param.error}">
	      		Senha Invalida!
	      	</div>
	      	
	      	<div class="row">
    			<form th:action="@{/login}" method="post" class="container" >
				   <div class="row">
			        <div class="input-field col s12">
			          <input id="condominio" type="text" name="username">
			          <label for="condominio">Condominio</label>
			        </div>
			      </div>
			      
			      <div class="row">
			        <div class="input-field col s12">
			          <input id="senha" type="password" class="validate" name="password">
			          <label for="senha">Senha</label>
			        </div>
			      </div>	
			      
			      		<input type="submit" class="waves-effect waves-light btn" value="entre">
			            		
	      		</form>
 			 </div>	      	
	      </div>
	      
	      
      </div>
      
     

		
       <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>