<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	  <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

	  <!-- Css Administor-->
	  <link rel="stylesheet" href="css/login.css" type="text/css" >	
		
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body style="background-color:#263238;">
	  <nav>
	    <div class="nav-wrapper blue-grey darken-2">
	      <a href="#" class="brand-logo">Administor</a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	        <li><a href="/cadastro">Reuniao</a></li>
	      </ul>
	    </div>
  		</nav>
  		
  		
  		<!-- Reuniao -->
  		<div class="row container">
      <div id="blocoreuniao" class="col s1 row grey lighten-5">
      		
      		<a class="waves-effect waves-light btn">REUNIÕES</a>
      		<a href="/ReuniaoForm" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
        
      		
      		<table class="container">
		
			<thead>
				<tr>
					<th> Nome</th>
					<th> Local</th>
					<th> Data</th>
					<th> Horario</th>
				</tr>				
			</thead>
				<tbody>	
			<tr th:each="RC: ${reuniaoHtml}"> 				
				<td><a th:href="${(#mvc.url('RAC#reuniaoDetalhe').arg(0, RC.id)).build()}"><span th:text="${RC.nome}"></span></a></td>
				<td><span th:text="${RC.local}"></span></td><!-- tag span sempre para acessar um objeto -->
				<td><span th:text="${RC.data}"></span></td><!-- tag span sempre para acessar um objeto -->
				<td><span th:text="${RC.horario}"></span></td><!-- tag span sempre para acessar um objeto -->
			</tr>
		</tbody>
			
			</table>
      </div>
      
      
      <!-- Assembleia -->
      <div id="blocoreuniao" class="col s1 row grey lighten-5">
      		<a class="waves-effect waves-light btn">Assembleia</a>
      		
      			<table class="container">
		
			<thead>
				<tr>
					<th> Nome</th>
					<th> Local</th>
					<th> Data</th>
					<th> Horario</th>
				</tr>				
			</thead>
			</table>
      </div>
      </div>
  		
  	
     

		
       <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>